// 正文数据列表
.list-item{
  border-left: 5px solid;
  .os-icon{
    display: none;
  }
  .item-details{
    .info-status{
      display: none
    }
  }
}
// 搜索和选择类型条
.search-bar{
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 768px){
  .top-card .card-types{
    height: 130px;
    .type{
      .name{
        text-align: start
      }
      .quantity{
        text-align: end
      }
    }
  }
  .search-bar{
    .switch-type{
      padding-right: 0;
    }
    .search-padding{
      padding-left: 0;
    }
  }
  .list-item{
    border-left: 0;
    .item-details{
      .info-status{
        display: block
      }
    }
  }
  .search-bar{
    display: block;
  }
}

@media screen and (min-width: 1024px){
  .tabList-caret i{
    display: none;
  }
  .tab-list{
    position: relative;
    .close-bg{
      display: none;
    }
  }
}

@media screen and (min-width: 1200px){
  .tabList-caret i{
    display: none;
  }
  .header .container{
    padding: 0;
  }
  .main-container{
    width: 1200px !important;
  }
  .top-card .card-types{
    height: 130px;
    .type{
      height: 100%;
      line-height: calc(100% - -55px / 2);
      .name{
        text-align: center
      }
      .quantity{
        text-align: center
      }
    }
  }
  .list-item{
    .os-icon{
      display: block;
    }
  }
}

@media screen and (max-width: 768px){
  .top-card .card-types {
    height: 90px;
    .type{
      height: 100%;
      text-align: center;
      align-self: center;
      line-height: calc(100% - -20px / 2);
    }
  }
  .search-bar{
    .switch-type{
      padding-right: 5px;
    }
    .search-padding{
      padding-left: 5px;
    }
    .search-box{
      width: 100%;
      .search-input{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .tab-list{
    position: absolute;
    display: none;
    .close-bg{
      display: block;
    }
  }
  .footer{
    display: none;
  }
  .search-bar .search-box{
    .switch-view{
      display: none;
    }
  }
}